@import "../../assets/variables";

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    flex-wrap: wrap;
}

.alert_container {
    font-size: 1.3rem;
}
