@import "../../../../../assets/variables";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
    .info {
        display: flex;
        flex-direction: column;
        gap: 1em;
        span {
            font-size: 1.3rem;
        }
    }
    .actions {
        display: flex;
        gap: 1em;
    }
}
