.home {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #f39237, #39a9db);
}

.title {
    letter-spacing: 0.05em;
    text-align: center;
    color: white;
    padding: 2em 0;
    font-size: 3rem;
}
