@import "../../assets/variables";

// .home {
//     width: 100vw;
//     height: 100vh;
// }

// .title {
//     letter-spacing: 0.05em;
//     text-align: center;
//     color: white;
//     padding: 2em 0;
//     font-size: 3rem;
// }

.home {
    width: 100vw;
    height: 100vh;

    .title {
        letter-spacing: 0.05em;
        text-align: center;
        padding: 2em 0;
        font-size: 3rem;
    }
}
.home .light {
    background-color: $background-color-light;
    color: $text-color-light;
}

.home.dark {
    background-color: $background-color-dark;
    color: $text-color-dark;
    .title {
        color: inherit;
    }
}
