.logo {
    font-size: 5rem;
    cursor: pointer;
}

.grade {
    color: #3e37a8;
}
.point {
    color: #f39237;
}

.large {
    font-size: 3rem;
    cursor: text;
}

.small {
    cursor: pointer;
    font-size: 1.5rem;
}
