@import "../../assets/variables";

.logo {
    font-size: 5rem;
    cursor: pointer;
}

.grade {
    color: $primary-light;
}
.point {
    color: $secondary-light;
}

.large {
    font-size: 3rem;
    cursor: text;
}

.small {
    cursor: pointer;
    font-size: 1.5rem;
}
