@import "../../../../assets/variables";

.page {
    color: white;
    min-height: 100vh;
    background: linear-gradient(135deg, $primary-dark, $primary-light);
}
.title {
    text-align: center;
    padding-top: 1em;
}

.tag {
    padding: 0.4em 0.6em;

    border-radius: 1em;
    background-color: white;
    color: black;
    text-align: center;
    width: fit-content;
    margin: 1em auto;
}

.text {
    white-space: pre-wrap;
    overflow: auto;
    background-color: white;
    font-family: cursive, "Courier New", Courier, monospace;
    font-size: 1.2rem;
    color: black;
    padding: 1em;
    height: 70vh;
}

.container {
    max-width: 80vw;
    margin: 2em auto;
}
