@import "../../../../assets/variables";

.page {
    color: white;
    min-height: 100vh;
    background: linear-gradient(135deg, $primary-dark, $primary-light);
}
.title {
    text-align: center;
    padding-top: 1em;
}
.tag {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.text {
    white-space: pre-wrap;
    overflow: auto;
    font-family: cursive, "Courier New", Courier, monospace;
    font-size: 1.2rem;
    padding: 1em;
    height: 60vh;
    &.dark {
        border: 1px solid $bg-dark-border;
        background-color: $bg-dark-hover;
    }
    &.light {
        border: 1px solid $bg-light-border;
        background-color: $bg-light-action;
    }
}

.container {
    max-width: 80vw;
    margin: 2em auto 0 auto;
    padding-bottom: 2em;
    .dates {
        padding: 1em;
        display: flex;
        justify-content: space-around;
    }
}

.alert {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-weight: bold;
        font-size: 3rem;
    }
}

@media only screen and (max-width: calc($tablet-breakpoint + 100px)) {
    .dates {
        flex-direction: column;
        gap: 1em;
        align-items: center;
    }
}
