.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    .section {
        display: flex;
        flex-direction: column;
        .input {
            width: 75px;
        }
        label {
            text-align: center;
            margin-bottom: 0.5em;
            font-size: 1.3rem;
        }
        .date_picker {
            height: 1.5rem;
            padding: 1em;
            font-size: 1.2rem;
            width: 150px;
        }
    }
    .actions {
        display: flex;
        gap: 1em;
    }
}
