@import "../../assets/variables";

.home {
    width: 100vw;
    height: 100vh;
}

.dark{
    background-color: $background-color-dark;
    color:$text-color-dark;
}

.light{
    background-color: $background-color-light;
    color: $text-color-light;
}

.title {
    text-align: center;
    padding: 1em 0;
    font-size: 3rem;
    letter-spacing: 0.05em;
}
