@import "../../assets/variables";

.home {
    width: 100vw;
    height: 100vh;
}

.dark {
    background-color: $bg-dark;
    color: $text-dark;
}

.light {
    background-color: $bg-light;
    color: $text-light;
}

.title {
    text-align: center;
    padding: 1em 0;
    font-size: 3rem;
    letter-spacing: 0.05em;
}

.placeholder {
    padding: 2em 0 1em 0;
    font-size: 2rem;
    text-align: center;
}
.form {
    display: flex;
    justify-content: center;
}

.register_input {
    height: 3rem;
    border-radius: 0.5em 0 0 0.5em !important;
    max-width: 10em;
}

.button {
    height: 3rem;
}

@media only screen and (max-width: 370px) {
    form {
        margin: 0 2em;
    }
}
