@import "../../../../assets/variables";

.textarea {
    overflow: auto;
    padding: 0.5em;
    resize: none;
    font-family: cursive, "Courier New", Courier, monospace;
    font-size: 1.2rem;
    height: 60vh;
    width: 100%;
    max-width: 100%;
    &.dark {
        color: $text-dark;
        border: 1px solid $bg-dark-border;
        background-color: $bg-dark-hover;
    }
    &.light {
        border: 1px solid $bg-light-border;
        background-color: $bg-light-action;
    }
}
