@import "../../../../assets/variables";

.page {
    min-height: 100vh;
    color: white;
    background: linear-gradient(135deg, $primary-dark, $primary-light);
}
.container {
    max-width: 80vw;
    margin: 0 auto;
}

.title {
    text-align: center;
    padding: 1em 0;
}

.textarea {
    padding: 0.5em;
    resize: none;
    font-family: cursive;
    font-size: 1.2rem;
    height: 30rem;
    width: 100%;
    max-width: 100%;
}
