@import "../../../../../../assets/variables";

.card {
    padding: 1em;
    width: 500px;
    flex-basis: calc(25% - 20px);
    margin: 0.5em;
    cursor: pointer;
    user-select: none;

    .title {
        margin-bottom: 1em;
    }

    .info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .tag {
            display: inline-block;
            padding: 0.3em 0.6em;
            border-radius: 1em;

            &.dark {
                background-color: $bg-dark-border;
                color: white;
            }
            &.light {
                background-color: lighten($bg-light-border, 5%);
            }
        }
    }

    .date {
        &.dark {
            color: $bg-dark-outline;
        }
    }

    &.dark {
        background-color: $bg-dark-action;
        border: 1px solid $bg-dark-border;
        color: $text-dark;
        &:hover {
            background-color: $bg-dark-hover;
        }
    }
    &.light {
        background-color: $bg-light-action;
        color: $text-light;
        border: 1px solid $bg-light-border;
        &:hover {
            background-color: $bg-light-hover;
        }
    }
}

@media only screen and (max-width: calc($large-desktop-breakpoint)) {
    .card {
        flex-basis: calc(33.3% - 20px);
    }
}

@media only screen and (max-width: calc($desktop-breakpoint)) {
    .card {
        flex-basis: calc(50% - 20px);
    }
}

@media only screen and (max-width: calc($tablet-breakpoint + 50px)) {
    .card {
        flex-basis: 100%;
    }
}
