@import "../../../assets/variables";

.logo {
    user-select: none;
    font-size: 5rem;
    cursor: pointer;

    .grade {
        color: $primary-light;
    }

    .point {
        color: $secondary;
    }
}

.large {
    font-size: 3rem;
    cursor: text;
}

.small {
    cursor: pointer;
    font-size: 1.5rem;
}
