$primary: #007bff;
$primary-action: rgb(31, 8, 134);
$primary-light: lighten($primary, 10%);
$primary-dark: darken($primary, 10%);

$secondary: #ff8c00;
$secondary-light: lighten($secondary, 10%);
$secondary-dark: darken($secondary, 10%);

$bg-light: #f8f9fa;
$text-light: #212529;

$bg-dark: #343a40;
$text-dark: #f8f9fa;

$bg-dark-action: darken($bg-dark, 10%);
$bg-dark-action-secondary: lighten($bg-dark, 5%);
$bg-dark-hover: lighten($bg-dark-action, 5%);
$bg-dark-border: lighten($bg-dark, 10%);

$bg-light-action: desaturate(darken($bg-light, 20%), 10%);
$bg-light-hover: lighten($bg-light-action, 3%);
$bg-light-border: desaturate(darken($bg-light, 30%), 10%);

$large-mobile-breakpoint: 550px;
$tablet-breakpoint: 700px;
$desktop-breakpoint: 1050px;
$large-desktop-breakpoint: 1400px;
$very-large-desktop-breakpoint: 1750px;
