$primary: #39a9db;
$primary-light: #40bcd8;
$primary-dark: #1c77c3;
$primary-action: rgb(31, 8, 134);

$secondary: #f39237;
$secondary-light: #ffc56a;
$secondary-dark: #da791e;

$large-mobile-breakpoint: 550px;
$tablet-breakpoint: 700px;
$desktop-breakpoint: 1050px;
$large-desktop-breakpoint: 1400px;
$very-large-desktop-breakpoint: 1750px;
