@import "../../../../../../assets/variables";

.grades {
    padding-bottom: 2em;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1em;
    .grade {
        border: 1px solid white;
        width: 200px;
        padding: 1em;
        h3 {
            margin-bottom: 0.5em;
        }
        &.light {
            border: 1px solid black;
        }
    }
}
