@import "../../assets/variables";

.note_info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-bottom: 2em;
}

.textarea_error {
    font-weight: bold;
    padding: 1em;
    color: $danger;
}

.textarea {
    overflow: auto;
    padding: 0.5em;
    resize: none;
    font-family: cursive, "Courier New", Courier, monospace;
    font-size: 1.2rem;
    height: 60vh;
    width: 100%;
    max-width: 100%;
    &.dark {
        color: $text-dark;
        border: 1px solid $bg-dark-border;
        background-color: $bg-dark-hover;
    }
    &.light {
        border: 1px solid $bg-light-border;
        background-color: $bg-light-action;
    }
}

.actions {
    display: flex;
    width: 100%;
    margin-top: 2em;
    justify-content: space-between;
    padding-bottom: 2rem;
}

@media only screen and (max-width: $desktop-breakpoint) {
    .input {
        width: 100%;
    }
}
